params.bowtie2 = [
        human: "/mnt/beegfs/kimj32/reference/human/gencode/GRCh38.p13/indexes/bowtie2/human",
        mouse: "/mnt/beegfs/kimj32/reference/mouse/gencode/GRCm38.p6/indexes/bowtie2/mouse",
]

params.star_index = [
        human: "/mnt/beegfs/kimj32/reference/human/gencode/GRCh38.p13/indexes/star",
        mouse: "/mnt/beegfs/kimj32/reference/mouse/gencode/GRCm38.p6/indexes/star",
        pig: "/mnt/beegfs/kimj32/reference/pig/ensembl/release-110/indexes/star",
        zebra_fish: "/mnt/beegfs/kimj32/reference/zebra-fish/ensembl/release-114/indexes/star",
]