params.samplesheet       = "${launchDir}/samplesheet.csv"
params.run_name          = "multiqc_report"
params.host_genome       = "mouse"
params.genome            = "mouse"
params.bwa_index         = ""
params.run_kraken        = false
params.host_removal      = "none"

includeConfig 'cluster.config'
includeConfig 'processes.config'
includeConfig 'reference.config'